[Unit]
Description=uWSGI instance to serve the APS database
After=network.target

[Service]
User=apsadmin
Group=www-data
WorkingDirectory=/home/apsadmin/APS_Database
Environment="PATH=/home/apsadmin/py3/bin/activate"
ExecStart=/home/apsadmin/py3/bin/uwsgi --ini server.ini

[Install]
WantedBy=multi-user.target
